footer {
    background-color: #474747;
    text-align: center;
    padding: 2rem 0;
    color:#fff
}
footer h3 {
    font-size: 2rem;
}
.sns-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}
.sns-links a{
    display: flex;
    flex-direction: column-reverse;
    color: #fff;
}